:root {
  --bright-blue: rgb(0, 123, 255);
  --duke-blue: rgb(0, 83, 155);
  --dark-gray: hsl(0, 0%, 27%);
  --text-black: hsl(0, 0%, 20%);
  --duke-bg-color: rgb(27, 47, 80);
  --light-bg-color: hsl(0, 0%, 98%);
  --bg-card-color: rgb(234, 242, 254);
  --inverted-color: white;
  --shadow-color: rgba(0, 0, 0, 50%);
  --shadow-blur: 20px;
  --shadow-spread: 5px;
  --small-v-padding: 8vh;
  --large-v-padding: 16vh;
  --side-margin: 2.25vw;
  --ff-body: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --ff-headline: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --ff-subhead: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --ff-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  background-color: white;
}

body {
  font-family: var(--ff-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

h1 {
  font-family: var(--ff-headline);
  font-weight: 700;
  font-size: 5em;
}

h2 {
  font-weight: 700;
  font-size: 2.5em;
}

h3 {
  font-family: var(--ff-subhead);
  font-weight: 600;
  font-size: 1.7em;
}

h4 {
  font-weight: 600;
  font-size: 1.3em;
}

p {
  font-size: 1em;
  color: var(--text-black);
}

.typed-cursor {
  font-weight: 400;
}

span.code {
  font-family: var(--ff-code);
  font-weight: bold;
  font-size: 0.9em;
  color: var(--duke-blue);
}

@media (max-width: 600px) {
  body {
    max-width: none;
  }

  h1 {
    font-size: 17vw;
  }

  h2 {
    font-size: 9vw;
  }
}

/*********************
        Navbar
 *********************/

#navbar {
  width: 100%;
  padding: 3.5vh 0;
  background-color: var(--duke-bg-color);
  box-shadow: 0 0 var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
}

#navbar-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 70vw;
}

#nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  font-family: var(--ff-subhead);
  font-size: 1.3em;
  font-weight: 400;
  list-style: none;
}

#nav-home {
  margin-right: auto;
}

#nav-home a {
  font-size: 1.4em;
  font-weight: 600;
  text-decoration: none;
  color: var(--inverted-color);
}

#nav-home a:hover {
  color: var(--bright-blue);
}

#nav-other {
  list-style: none;
  display: flex;
  flex-wrap: no-wrap;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

#nav-other a {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-decoration: none;
  color: var(--inverted-color);
}

#nav-other a:hover {
  color: var(--bright-blue);
}

.nav-item-start a {
  padding-right: 1em;
  border-right: 0.75px solid var(--inverted-color);
}

.nav-item a {
  padding-left: 1em;
  padding-right: 1em;
  border-right: 0.75px solid var(--inverted-color);
}

.nav-item-end a {
  padding-left: 1em;
}

@media (max-width: 600px) {
  #navbar {
    padding: 2vh 0;
  }

  #navbar-wrapper {
    max-width: 100%;
  }

  #nav {
    margin: calc(6vw - var(--side-margin)) 0;
    justify-content: center;
  }

  #nav-home {
    margin: 0;
    padding: 0 10vw;
  }

  #nav-home a {
    font-size: 2em;
  }

  #nav-other {
    margin-top: 1.75vh;
  }

  #nav-other a {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}

/*********************
      Intro
      IntroCard
      AboutHeader
 *********************/

#bio {
  padding: var(--large-v-padding) 0;
}

#intro-wrapper {
  margin: 0 auto;
  max-width: 70vw;
}

#intro {
  margin: 0 calc(7.5vw - var(--side-margin));

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#profile {
  /* profile shrinks to min-width, then wraps to full width */
  min-width: 52%;
  flex: 1 1 52%;

  /* Symmetric to keep centered when wrapped. Same as intro-card */
  margin: 0 var(--side-margin);
}

#profile p {
  padding: 1em 0 1.6em 0;
  font-size: 1.2em;
}

#intro-card {
  /* Symmetric to keep centered when wrapped. Same as profile */
  margin: 40px var(--side-margin) calc(40px - 5em / 4) var(--side-margin);

  width: 175px;
  padding: 1.4em 2em;
  background-color: var(--bg-card-color);
  box-shadow: 3px 3px 3px -1px var(--dark-gray);
  border-radius: 10px;
}

#intro-card-img img {
  display: block;
  width: 80%;
  margin: 0 auto 1.2em auto;
  border: 0.5em outset var(--bright-blue);
  border-radius: 100%;
}

#intro-card-text {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 7.5% 3fr;
}

#intro-card-text p.icon {
  grid-column: 1;
  text-align: center;
  vertical-align: middle;
}

#intro-card-text p.text {
  grid-column: -1;
  font-size: 1.1em;
  word-wrap: break-word;
}

#intro-card-text a {
  text-decoration: none;
}

.resume-button {
  /* margin: 0 auto 40px auto; */
  padding: 0.625em 0;
  text-align: center;
}

.resume-button a {
  padding: 0.625em 2.75em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 25%), 0 0 12px rgba(0, 0, 0, 5%);
  border: 1px solid;
  border-radius: 10px;

  font-family: var(--ff-subhead);
  font-size: 1.2em;
  font-weight: 700;

  -webkit-transition: background-color 0.25s linear, color 0.25s linear;
  -moz-transition: background-color 0.25s linear, color 0.25s linear;
  -ms-transition: background-color 0.25s linear, color 0.25s linear;
  -o-transition: background-color 0.25s linear, color 0.25s linear;
  transition: background-color 0.25s linear, color 0.25s linear;
}

.resume-button a:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

#about-header {
  padding: var(--large-v-padding) 0;
  margin: 0 auto;
  max-width: 70vw;
}

#about-header-wrapper {
  margin: 0 7.5vw;
}

#about-header-wrapper p {
  padding: 1em 0 0 0;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  #bio {
    padding: calc(var(--large-v-padding) * 0.75) 0;
  }

  #intro-wrapper {
    margin: 0 auto;
    max-width: 100%;
  }

  #profile {
    margin: 0;
  }

  #profile h1 {
    margin-top: 0;
  }

  #intro-card {
    margin-top: 0;
    padding: 2.5vh 10vw;
  }

  .resume-button {
    margin-bottom: 10vw;
  }

  #about-header {
    margin: 0 auto;
    max-width: 100%;
    padding: calc(var(--large-v-padding) * 0.75) 0;
  }

  #about-header-wrapper {
    margin: 0 20px;
  }
}

/*********************
    ProjectsFeatured
    ProjectCard
    ProjectsHeader
    ProjectsList
 *********************/

#projects-featured {
  padding: var(--small-v-padding) 0;
  background-color: var(--light-bg-color);
  box-shadow: 0 0 var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
}

#projects-featured-wrapper {
  margin: 0 auto;
  max-width: 70vw;
}

#projects-featured-wrapper h2 {
  padding: 0 10px calc(var(--small-v-padding) - 15px) 10px;
}

#project-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  min-width: 40%;
  flex: 1 1 40%;
  margin: 10px;
  padding: 2.5vw;
}

.project-card:not(#placeholder) {
  box-shadow: 0 0 6px rgba(0, 0, 0, 25%), 0 0 12px rgba(0, 0, 0, 5%);
  border-radius: 10px;
  border: 1px solid;
  border-color: hsl(0, 0%, 85%);
  background-color: white;
}

.project-card#placeholder {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.project-card h4 {
  margin: 0.25em 0;
}

.project-card h4 a {
  color: var(--bright-blue);
  text-decoration: none;
}

.project-card h4 a:hover {
  text-decoration: underline;
}

.project-card p {
  margin-bottom: 0.25em;
}

.project-card p a {
  color: rgb(236, 140, 36);
  text-decoration: none;
}

.project-card p a:hover {
  text-decoration: underline;
}

.project-card img {
  width: 100%;
  margin-top: 0.25em;
}

.project-tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.75em 0;
  list-style: none;
}

.project-tools li {
  margin: 0.25em 0;
  display: inline;
}

.project-tool-item {
  margin-right: 0.75em;
}

.project-tool-item a {
  padding: 0.35em 0.65em;
  border-radius: 6px;

  font-family: var(--ff-code);
  font-weight: 600;
  font-size: 0.9em;
  color: var(--dark-gray);
  text-decoration: none;
}

.all-projects-button {
  margin: 5vh auto 0 auto;
  padding: 0.625em 0;
  text-align: center;
}

.all-projects-button a {
  padding: 0.625em 2.75em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 25%), 0 0 12px rgba(0, 0, 0, 5%);
  border: 1px solid;
  border-radius: 10px;

  font-family: var(--ff-subhead);
  font-size: 1.2em;
  font-weight: 700;

  -webkit-transition: background-color 0.25s linear, color 0.25s linear;
  -moz-transition: background-color 0.25s linear, color 0.25s linear;
  -ms-transition: background-color 0.25s linear, color 0.25s linear;
  -o-transition: background-color 0.25s linear, color 0.25s linear;
  transition: background-color 0.25s linear, color 0.25s linear;
}

.all-projects-button a:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

#projects-header {
  padding: var(--large-v-padding) 0;
  margin: 0 auto;
  max-width: 70vw;
}

#projects-header-wrapper {
  margin: 0 7.5vw;
}

#projects-header-wrapper p {
  padding: 1em 0 0 0;
  font-size: 1.2em;
}

#projects-list {
  padding: var(--large-v-padding) 0;
}

#projects-list h2 {
  margin: 0 auto;
  max-width: 70vw;
}

#projects-list table {
  margin: calc(var(--small-v-padding) / 2) auto 0 auto;
  max-width: 80vw;
  width: 100%;
  border-spacing: 0;

  text-align: left;
  color: var(--text-black);
}

#projects-list td,
th {
  vertical-align: middle;
  padding: 1.25em 1em;
}

#projects-list th {
  font-family: var(--ff-subhead);
}

#projects-list tbody tr {
  background-color: auto;
  transition: background-color 0.2s linear;
}

#projects-list tbody tr:hover {
  background-color: hsl(0, 0%, 94%);
  transition: background-color 0.1s linear;
}

#projects-list ul {
  list-style: none;
}

#projects-list li {
  display: inline;
}

#projects-list a {
  text-decoration: none;
  color: var(--text-black);
}

#projects-list a:hover {
  text-decoration: underline;
  color: var(--bright-blue);
}

#projects-list .year {
  font-family: var(--ff-code);
}

#projects-list .project {
  font-weight: bold;
}

#projects-list .tools {
  font-family: var(--ff-code);
  font-size: 0.85em;
}

.projects-list-tools .sep {
  padding: 0 0.2em;
}

.projects-list-links .sep {
  padding: 0 0.3em;
}

.projects-list-links i {
  font-size: 1.15em;
}

.projects-list-links span {
  color: hsl(0, 0%, 80%);
}

.projects-list-links .private:hover {
  color: #ec8c24;
}

@media (max-width: 600px) {
  #projects-featured-wrapper {
    max-width: 100%;
  }

  #projects-featured-wrapper h2 {
    padding: 0 20px calc(var(--small-v-padding) - 15px) 20px;
  }

  .project-card {
    min-width: 60%;
    flex: 1 1 60%;
    margin: 0 20px 20px 20px;
    padding: 6vw;
  }

  .project-card#placeholder {
    display: none;
  }

  .all-projects-button {
    margin: 0 auto;
  }

  #projects-header {
    margin: 0 auto;
    max-width: 100%;
    padding: calc(var(--large-v-padding) * 0.75) 0;
  }

  #projects-header-wrapper {
    margin: 0 20px;
  }

  #projects-list {
    margin: 0 20px;
    padding: calc(var(--large-v-padding) * 0.75) 0;
  }

  #projects-list h2 {
    margin-bottom: 1em;
  }

  #projects-list table {
    margin: 0 auto;
    max-width: 70vw;
  }

  #projects-list td,
  th {
    padding: 0.75em 1.25em;
  }

  #projects-list th:nth-child(3),
  th:nth-child(4),
  td:nth-child(3),
  td:nth-child(4) {
    display: none;
  }
}

/*@media (max-width: 600px) {
  #experiences {
    padding: calc(var(--large-v-padding) * 0.75) 0;
  }

  #experience-wrapper {
    max-width: 100%;
  }

  #skills-wrapper {
    min-width: 80%;
    flex: 1 1 80%;
    margin: 0 20px 20px 20px;
  }

  #work-wrapper {
    min-width: 80%;
    flex: 1 1 80%;
    margin: 0 20px;
  }

  #work-icons {
    margin-top: 2em;
  }

  .work-icon-img a {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
} */

/*********************
      Skills
      WorkIcon
      Work
      Experience
 *********************/

#experiences {
  padding: var(--large-v-padding) 0 calc(var(--large-v-padding) * 0.75) 0;
}

#experience-wrapper {
  margin: 0 auto;
  max-width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#skills-wrapper {
  min-width: 40%;
  flex: 1 1 40%;
  margin: 10px;
  padding-right: 1em;
}

#skills-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  margin: 0.75em 0;
  list-style: none;
  font-size: 1.1em;
}

.skill-header {
  margin-right: 0.15em;
}

.skill-item a:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.skill-item a {
  margin: 0 0.05em;
  padding: 0 0.2em;
  border: 1px solid;
  line-height: 1.75em;
  text-decoration: none;

  -webkit-transition: background-color 0.25s linear, border-color 0.25s linear;
  -moz-transition: background-color 0.25s linear, border-color 0.25s linear;
  -ms-transition: background-color 0.25s linear, border-color 0.25s linear;
  -o-transition: background-color 0.25s linear, border-color 0.25s linear;
  transition: background-color 0.25s linear, border-color 0.25s linear;
}

.skill-item i {
  padding-right: 0.4em;
}

#work-wrapper {
  min-width: 23%;
  flex: 1 1 23%;
  margin: 10px;
}

#work-icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;
}

.work-icon-img {
  display: flex;
  align-items: center;
  min-width: 40%;
  flex: 1 1 40%;
  margin: 0 1em 1.5em 0;
}

.work-icon-img a {
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%);

  -webkit-transition: filter 0.5s linear;
  -moz-transition: filter 0.5s linear;
  -ms-transition: filter 0.5s linear;
  -o-transition: filter 0.5s linear;
  transition: filter 0.5s linear;
}

.work-icon-img a:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);

  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.work-icon-img img {
  width: 100%;
  padding: auto 0;
}

.all-experiences-button {
  margin: 5vh auto 0 auto;
  padding: 0.625em 0;
  text-align: center;
}

.all-experiences-button a {
  padding: 0.625em 2.5em;
  border: 2px solid;
  border-radius: 10px;

  font-family: var(--ff-subhead);
  font-size: 1.2em;
  font-weight: 700;

  -webkit-transition: background-color 0.25s linear, color 0.25s linear;
  -moz-transition: background-color 0.25s linear, color 0.25s linear;
  -ms-transition: background-color 0.25s linear, color 0.25s linear;
  -o-transition: background-color 0.25s linear, color 0.25s linear;
  transition: background-color 0.25s linear, color 0.25s linear;
}

.all-experiences-button a:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

@media (max-width: 600px) {
  #experiences {
    padding: calc(var(--large-v-padding) * 0.75) 0;
  }

  #experience-wrapper {
    max-width: 100%;
  }

  #skills-wrapper {
    min-width: 80%;
    flex: 1 1 80%;
    margin: 0 20px 20px 20px;
  }

  #work-wrapper {
    min-width: 80%;
    flex: 1 1 80%;
    margin: 0 20px;
  }

  #work-icons {
    margin-top: 2em;
  }

  .work-icon-img a {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

/*********************
        Footer
 ********************/

#footer {
  padding: var(--small-v-padding) 0;
  background-color: var(--duke-bg-color);
  box-shadow: 0 0 var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
}

#footer-wrapper {
  margin: 0 auto;
  max-width: 70vw;
}

#footer-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

#footer-content * {
  color: var(--inverted-color);
}

#footer-content a {
  text-decoration: none;
}

#footer-content a:hover {
  color: var(--bright-blue);
}

#copyright-icons li {
  display: inline;
  margin-left: 1em;
  list-style: none;
}

#contact {
  padding-right: var(--side-margin);
}

#contact h2 {
  margin-bottom: 0.36em;
}

#copyright-icons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.36em;
}

#copyright-icons li {
  display: inline;
  margin-left: 1em;
  list-style: none;
}

#copyright-icons i:hover {
  color: var(--bright-blue);
}

#copyright-lines {
  text-align: right;
}

#copyright-lines li {
  font-size: 1em;
  list-style: none;
}

#copyright-lines #heart {
  color: rgb(214, 40, 57);
}

@media (max-width: 900px) {
  #copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.36em;
  }

  #copyright-icons {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  #copyright-icons li {
    display: inline;
    margin-left: 0;
    margin-right: 1em;
  }

  #copyright-lines li {
    display: inline;
  }
}

@media (max-width: 600px) {
  #footer-wrapper {
    max-width: 100%;
  }

  #footer-content {
    margin: 0 20px;
  }

  #contact {
    padding: 0;
  }

  #copyright {
    display: block;
    margin-top: 2.72em;
  }

  #copyright-icons {
    justify-content: center;
  }

  #copyright-icons li {
    margin: 0 0.5em;
  }

  #copyright-lines {
    margin-top: 0.68em;
    text-align: center;
    font-size: 0.75em;
  }
}
