:root {
  --bright-blue: #007bff;
  --duke-blue: #00539b;
  --light-blue: #f3f6fd;
  --light-gray: #cccccc;
  --dark-gray: #444444;
  --text-black: hsl(0, 0%, 20%);
  --intro-margin: 2.25vw;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 70vw;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Lato', 'Helvetiva Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 5em;
}

h2 {
  font-family: 'Open Sans', 'Helvetiva Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
  color: var(--text-black);
}

.typed-cursor {
  font-weight: 400;
}

span.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: bold;
  font-size: 0.9em;
  color: var(--duke-blue);
}

@media (max-width: 978px) {
  body {
    max-width: none;
  }

  h1 {
    font-size: 17vw;
  }

  h2 {
    font-size: 9vw;
  }
}

/***************
      Navbar
 ***************/

#navbar {
  width: 100%;
  margin: 5vh 0;
  list-style: none;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3em;
  font-weight: 400;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

#navbar #home {
  margin-right: auto;
}

#navbar #home a {
  font-size: 1.4em;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

#nav {
  list-style: none;
  display: flex;
  flex-wrap: no-wrap;
}

#nav a {
  padding: 0.4em 0;
  color: var(--dark-gray);
  text-decoration: none;
}

#nav-item-1 a {
  padding-right: 1.125vw;
}

#nav-item-2 a {
  padding-left: 1.125vw;
  padding-right: 1.125vw;
  border-left: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
}

#nav-item-3 a {
  padding-left: 1.125vw;
}

#navbar .break {
  width: 100%;
  padding: 2vh 0;
}

@media (max-width: 978px) {
  #navbar {
    margin: calc(6vw - var(--intro-margin)) 0;
    justify-content: center;
  }

  #navbar #home {
    margin: 0;
  }

  #navbar #home a {
    font-size: 2em;
  }

  #nav {
    margin-top: 1.5vh;
  }

  #nav a {
    padding: 0.25em 0;
  }

  #nav-item-1 a {
    padding-right: 5vw;
  }

  #nav-item-2 a {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #nav-item-3 a {
    padding-left: 5vw;
  }

  #navbar .break {
    padding: 0;
    padding-bottom: 1vh;
  }
}

/***************
      Intro
 ***************/

#intro-wrapper {
  margin: 0 calc(6vw - var(--intro-margin));
}

#intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#profile {
  /* profile shrinks to min-width, then wraps to full width */
  min-width: 35vw;
  flex: 1 1 35vw;

  /* Symmetric to keep centered when wrapped. Same as intro-card */
  margin: 0 var(--intro-margin);
}

#profile h1 {
  /* Vertically center */
  margin-top: 3.5vh;
}

#profile p {
  padding: 1em 0 1.5em 0;
  font-size: 1.3em;
}

#intro-card {
  /* Symmetric to keep centered when wrapped. Same as profile */
  margin: 0 var(--intro-margin);

  width: 175px;
  padding: 2.5% 5%;
  background-color: var(--light-blue);
  box-shadow: 3px 3px 3px -1px var(--dark-gray);
  border-radius: 10px;
}

#intro-card-img img {
  display: block;
  width: 80%;
  margin: 0 auto;
  border: .5em outset var(--bright-blue);
  border-radius: 100%;
}

#intro-card-text {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 7.5% 3fr;
}

#intro-card-text p.icon {
  grid-column: 1;
  text-align: center;
  vertical-align: middle;
}

#intro-card-text p.text {
  grid-column: -1;
  font-size: 1.1em;
  word-wrap: break-word;
}

#intro-card-text a {
  text-decoration: none;
}

#resume-button {
  width: 5vw;
  padding: 0.625em 2.75em;
  margin: 0 auto 3.5vh auto;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
}

#resume-button a {
  font-family: 'Lato', 'Helvetiva Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
}

#intro-wrapper .break {
  width: 100%;
  padding: 2vh 0;
}

@media (max-width: 978px) {
  #intro-card {
    padding: 2.5vh 10vw;
  }

  #resume-button {
    width: 35vw;
    padding: 0.75em 0;
    margin-bottom: 5vh;
  }
}