$white-bg: white;
$blue-bg: rgb(27, 47, 80);

$body: hsl(0, 0%, 20%);
$bright-blue: rgb(0, 123, 255);

$duke-blue: rgb(0, 83, 155);
$dark-gray: hsl(0, 0%, 27%);
$light-bg-color: hsl(0, 0%, 98%);
$bg-card-color: rgb(234, 242, 254);
$shadow-color: rgba(0, 0, 0, 50%);
